*{margin: 0;padding: 0;}
body{
    min-width: 1000px;
}
ul{list-style: none;}
a:link , a:visited{color:#333;text-decoration: none;}
#myMenu{
    position: fixed;
    z-index: 10;
    left:0;
    top:0;
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    height: 40px;
}

#myMenu li{
    width: 150px;
    height: 40px;
    float: left;
    line-height: 40px;
}

#fullpage .section:nth-child(1) video{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    object-fit: cover;
}

#fullpage .section:nth-child(2){
    background: url(portfolio.jpg ) center/contain;
}
#fullpage .section:nth-child(3){background-color: lightcyan;}
#fullpage .section:nth-child(3) video{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    object-fit: cover;
}
#fullpage .section:nth-child(3) .title{
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: rgba(255,215,215,0.5);
    z-index: 6;
    top:50%;
    left:12px;
    margin-top:-150px;
}
#fullpage .section:nth-child(3) span{    
    position: absolute;
    bottom:4px;
    right:4px;
}
/* 4번 */
#fullpage .section:nth-child(4){background-color: lightcyan;}
#fullpage .section:nth-child(4) video{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    object-fit: cover;
}
#fullpage .section:nth-child(4) .title{
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: rgba(255,215,215,0.5);
    z-index: 6;
    top:50%;
    left:12px;
    margin-top:-150px;
}
#fullpage .section:nth-child(4) span{    
    position: absolute;
    bottom:4px;
    right:4px;
}
/* 4번 영상 시작 */



#fullpage .section:nth-child(5){background-color: lightcyan;}
#fullpage .section:nth-child(5) video{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    object-fit: cover;
}
#fullpage .section:nth-child(5) .title{
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: rgba(255,215,215,0.5);
    z-index: 6;
    top:50%;
    left:12px;
    margin-top:-150px;
}
#fullpage .section:nth-child(5) span{    
    position: absolute;
    bottom:4px;
    right:4px;
}
/* 4번영상 종료 */

